<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>Mindfruits_Configurateur</name>
	<displayName><![CDATA[Configurateur [Mindfruits]]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Ceci est un module de configuration produit]]></description>
	<author><![CDATA[Nicolas Mindfruits]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
